html {
	position: relative;
	min-height: 100%
}

body {
	margin-bottom: 70px;
}

#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: #f5f5f5;
	font-size: 0.9em;
	height: 50px;
	text-align: center;
	padding-top: 20px;
}

.table-bottom{
	height: 40px;
	padding: 10px 0;
	border-top: 1px solid #000;
	border-bottom: 1 px solid #000;
}

.bottom-nav{
	margin-top: 20px;
}

h2{
	border-bottom: 1px solid #000;
}

.box-button{
	display: inline-block;
}
.table-nav, .tombol-nav{
	display: block;
	clear: both;
	float: left;
	width: 100%;
}
.tombol-nav{
	margin-top: 10px;
}
.table-nav{
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
}
.jumlah-data, .paging{
	width: 50%;
	height: 50px;
	display: block;
}
.jumlah-data{
	float: left;
	padding-top: 15px;
}
.paging{
	float: right;
	text-align: right;
}
.paging ul.pager, .paging ul.pagination{
	text-align: right;
}
ul.pagination, ul.pager{
	margin-top: 8px;
}
#pencarian{
	border-bottom: 1px solid #000;
	padding-bottom: 10px;
}
.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}
.dropdown:hover {
	background-color: #e7e7e7;
}
.dropdown:hover .dropdown-menu {
    display: block;
}



